<!--carousel-->
<!--
  <div style="height: 305px">
    <carousel interval="myInterval" no-wrap="noWrapSlides">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
-->
<main-header></main-header>

<main class="flex-column align-center">
    <div id='portfolio'>
        <div class="flex-column align-center">
            <div class="separate" ng-repeat="project in portfolio">
                <portfolio-piece></portfolio-piece>
            </div>
        </div>
    </div>
</main>
<div id="blog"></div>
<footer></footer>

