<header class="flex-row justify-space-between align-center">
   <i class="material-icons md-36">menu</i>
    <h3>Harvey Ink.</h3>
    <i class="material-icons md-36">mi</i>
    
    <div id="navbar-wrapper" ng-show="show"></div>
        <navbar ng-show="show">
            <ul class="flex-column justify-space-between align-center"> 
                <div class="width100" ng-repeat="item in navbarItems" hover toggle="enlarge">
                    <li select-active item="item.hash" compare="locationHash" apply="navbar-active" ><a href='{{item.hash}}'>{{item.name}}</a></li>
                </div>
            </ul>
        </navbar>
    
</header>

